body{
    background-color: #0d1117;
}
.col4bg{
    background-color:#161b22;
    border-color:#1a1f26 ;
    border-radius: 6px;

    
    
}
.col-4 .txt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aqua;
  font-weight: 200;
  /* width:100px; */
}
.col-4 i{ 

}

.label{ 
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.txtbox{
    background-color: #0d1117;
    border-color:#1a1f26 ;
    border-radius: 5px;
    border-style: solid;
    width: 300px;
}
.atag{
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none; 
    color: #4989d2;

}
.btn1{
    color: white;
    background-color: #238636;
    border-color: #238636;
    width:300px;
    border-radius: 5px;
    border-style: solid;
}
footer .sp{
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c0c8d0;
    text-decoration: none;
    
 }
 footer .sp:hover{
     color: #4989d2;
     text-decoration: underline;
 }
col-4 .atag:hover{
    text-decoration: underline;
}

